.about{
    margin: 30px 0;
    padding: 20px;
    margin-left: 210px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about-image img{
    border-radius: 10px;
    height: 414px;
    width: 328px;
}
.about-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-text h2{
    color: #138781;
    text-align: center;
    border-bottom: 1px solid gray;
    font-family: cursive;
}
.about-text p{
    text-align: justify;
    padding: 15px;
    font-size: 22px
}


@media (max-width: 600px){
    .about{
        margin: 0;
        padding: 0;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .about-image img{
        margin-top: 15px;
        border-radius: 4px;
        margin-bottom: 15px;
    }
    .about-text h2{
        font-size: 20px;
    }
    .about-text p{
        font-size: 15px
    }
}