.footer-left.text-white {
    margin-left: 96px;
}
.fl-icon a {
    margin-right: 10px;
}
.footer-middle.text-white p {
    text-align: justify;
}
.icon:hover{
    color: rgba(41, 41, 218, 0.885);
}
.footer-right.text-white a {
    color: white;
    text-decoration: none;
}
.footer-right.text-white a:hover {
    color: red;
    text-decoration: underline;
}


@media (max-width: 480px){
    .footer-left.text-white {
        margin-left: 0px;
        margin-bottom: 20px;
    }
}


@media (min-width: 481px) and (max-width: 768px){
    .footer-middle{
        max-width: 100%;
    }
    .footer-right{
        width: 33%;
    }
    .footer{
        margin-left: 70px;
    }
}

/* for laptop */

@media (min-width: 768px) and (max-width: 1024px){
    .footer{
        margin: 0 70px;
    }
}

@media (min-width: 1281px){
    .footer{
        padding: 0 100px;
    }
}